{% extends 'base.html.twig' %}
{% block body %}
<div class="aboutContent">
<h2 class="aboutHeader">What is DotaSpy?</h2>
<p class="aboutText">DotaSpy's a application directed for dota2 players and fans for dota2 professional players.</p>
<p class="aboutText">If you wanna stalk after your idol with help of social media, then this site's recommended for you.</p>
<p class="aboutText">DotaSpy tries to get information, social media posts (twitter and facebook posts), latest dota2 matches and stream (twitch) from every player registered on this site.</p>
<p class="aboutText"></p>
</div>
{% endblock %}