{# app/Resources/views/social_media/social_media.html.twig #}
    <div class="hidden-xs hidden-md hidden-lg playerContent">
        {# script for facebook #}
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=906008279464404";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <div class="col-sm-2 col-md-2 col-lg-1 sideBar">
            <div class="col-sm-12 col-md-12 playerInfo">
                {% for result3 in results3 %}
                {% if result3 is not empty %}
                    {% include 'social_media/playerInformation.html.twig' %}
                {% else %}
                    <p>There is no info about this player.</p>
                {% endif %}
                {% endfor %}
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4 latestMatchesContentTable">
            {% for result4 in results4 %}
                {% if result4 is not empty %}
                    <a class="matchLink" href="http://www.dotabuff.com/matches/{{result4.matchID}}">
                    {% include 'social_media/latestMatchesPlugin.html.twig' %}
                    </a>
                {% else %}
                    <p>There is none latest matches right now.</p>
                {% endif %}
            {% endfor %}
            </div>
        </div>

        <div class="col-sm-4 col-md-4 col-lg-3" id="twitterContent">
        <img class="socialMediaImage col-sm-8 col-sm-offset-2" src="http://46.101.160.201:8000/img/twitter.png">
        {% for result1 in results1 %}
            {% if result1 is not empty %}
                {% include 'social_media/twitterPlugin.html.twig' %}
            {% else %}
                <p>This user doesn't have a twitter account.</p>
            {% endif %}
        {% endfor %}
        </div>

        <div class="col-sm-4 col-md-4 col-lg-3 facebookDesktop" id="facebookContent">
        <img class="socialMediaImage col-sm-8 col-sm-offset-2" src="http://46.101.160.201:8000/img/facebook.png">
        {% for result2 in results2 %}
            {% if result2.facebook_id is not empty %}
                {% include 'social_media/facebookPlugin.html.twig' %}
            {% else %}
                    <p class="col-sm-12">This user doesn't have a facebook account.</p>
            {% endif %}
        {% endfor %}
        </div>
        <img class="socialMediaImage col-sm-3" style="margin-left:22%" src="http://46.101.160.201:8000/img/twitch.png">
        {% for result2 in results2 %}
            {% if result2 is not empty %}
                {% include 'social_media/twitchPlugin.html.twig' %}
            {% else %}
                <p>This user doesn't have a twitch account.</p>
            {% endif %}
        {% endfor %}
    </div>